---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  targetNamespace: ingress-nginx
  chart:
    spec:
      chart: ingress-nginx
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
  install:
    crds: Create
  interval: 10m0s
  releaseName: ingress-nginx
  upgrade:
    crds: CreateReplace
  values:
    controller:
      allowSnippetAnnotations: true
      electionID: ingress-controller-leader
      replicaCount: 3
      service:
        loadBalancerIP: "10.0.0.240"
        externalTrafficPolicy: Local
      config:
        use-forwarded-headers: "true"
        compute-full-forwarded-for: "true"
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
          namespace: monitoring
          additionalLabels:
            release: monitoring-kube-prometheus-stack
