---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  chart:
    spec:
      chart: kube-prometheus-stack
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  interval: 1m0s
  targetNamespace: monitoring

  values:
    defaultRules:
      disabled:
        etcdHighNumberOfFailedGRPCRequests: true

    alertmanager:
      config:
        global:
          resolve_timeout: 5m
      ingress:
        enabled: true
        ingressClassName: internal-nginx
        hosts:
        - alertmanager.rees.ca

        loadBalancerIP: 10.0.0.50

      alertmanagerSpec:
        useExistingSecret: true
      #  secrets: ["alertmanager-rees"]

    grafana:
      ingress:
        enabled: true
        ingressClassName: internal-nginx
        hosts:
        - grafana.rees.ca
        LoadBalancerIP: 10.0.0.50
      resources:
        requests:
          cpu: "100m"
          memory: "256Mi"
        limits:
          cpu: "500m"
          memory: "512Mi"

    prometheus:
      ingress:
        enabled: true
        ingressClassName: internal-nginx
        hosts:
        - prometheus.rees.ca
        LoadBalancerIP: 10.0.0.50
      prometheusSpec:
        secrets: ["etcd-client-cert"]
        resources:
          requests:
            cpu: "200m"
            memory: "1Gi"
          limits:
            cpu: "1000m"
            memory: "2Gi"

    thanosRuler:
      ingress:
        enabled: true
        ingressClassName: internal-nginx
        hosts:
        - thanosruler.rees.ca
        LoadBalancerIP: 10.0.0.50

    kubeEtcd:
      service:
        port: 2379
        targetPort: 2379
      serviceMonitor:
        scheme: https
        insecureSkipVerify: true
        caFile: /etc/prometheus/secrets/etcd-client-cert/ca.crt
        certFile: /etc/prometheus/secrets/etcd-client-cert/apiserver-etcd-client.crt
        keyFile: /etc/prometheus/secrets/etcd-client-cert/apiserver-etcd-client.key
